.wide {
    display: none;
}

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        helvetica,
        arial,
        sans-serif;
    margin: 0;
    padding: 32px 16px;
    color: #262426; /* From logo color */
    width: fit-content;
    min-width: 100%;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    line-height: 0.8;
    margin-top: 0;
}

h1 {
    font-size: 48pt;
    font-weight: 950; /* Extra Black */
}

h1 svg {
    height: 0.8em;
    vertical-align: baseline;
    transform: translateY(4px);
}

h2 {
    font-size: 32pt;
    font-weight: 800; /* Heavy */
}

p,
tbody {
    font-weight: 300;
}

#members {
    flex: 1 1 auto;
}

section {
    margin-bottom: 32px;
}

#tablecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 4px 32px;
    text-align: left;
}

/* table tbody, table thead { */
/*     border-width: 1pt 0 1pt 0; */
/*     border-color: #262426; */
/*     border-style: solid; */
/* } */

a:link {
    color: #2874a6;
}

@media (min-width: 540px) {
    h1 {
        font-size: 64pt;
    }
    body {
        padding: 32px;
    }
    #tablecontainer {
        justify-content: start;
    }
}

@media (min-width: 860px) {
    h1 {
        font-size: 128pt;
        margin: 0 0 64px 0;
    }
    h2 {
        font-size: 48pt;
        margin: 0 0 32px 0;
    }
    h1 svg {
        transform: translateY(8px);
    }
    p,
    table {
        font-size: 14pt;
    }
}

@media (min-width: 1280px) {
    .wide.block,
    .wide {
        display: block;
    }
    .wide.inline {
        display: inline;
    }
    .small {
        display: none;
    }

    main {
        flex-direction: row;
        gap: 48px;
    }

    section {
        padding: 24px;
    }

    #members {
        text-align: right;
        padding-top: 24px;
    }

    #tablecontainer {
        justify-content: end;
    }

    h1 {
        margin-bottom: 72px;
    }
}
