# Copyright (C) 2025 Kian Kasad
#
# This file is part of the Purdue Hackers webring.
#
# The Purdue Hackers webring is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The Purdue Hackers webring is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
# for more details.
#
# You should have received a copy of the GNU Affero General Public License along
# with the Purdue Hackers webring. If not, see <https://www.gnu.org/licenses/>.

name: Publish documentation

on:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write      # to deploy to Pages
  id-token: write   # to verify the deployment originates from an appropriate source


jobs:
  build_docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache build artifacts
        uses: Swatinem/rust-cache@v2

      - name: Build documentation
        run: cargo doc --workspace --release

      - name: Remove lock file
        run: rm -f ./target/doc/.lock

      - name: Create index.html file
        run: echo '<meta http-equiv="refresh" content="0;url=ph-webring/index.html">' > ./target/doc/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./target/doc

  deploy_docs:
    name: Deploy documentation site

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    needs: build_docs

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
