# Copyright (C) 2025 Kian Kasad
#
# This file is part of the Purdue Hackers webring.
#
# The Purdue Hackers webring is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The Purdue Hackers webring is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
# for more details.
#
# You should have received a copy of the GNU Affero General Public License along
# with the Purdue Hackers webring. If not, see <https://www.gnu.org/licenses/>.

name: Publish release

on:
  release:
    types:
      - published

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  publish-docs:
    name: Publish documentation
    uses: ./.github/workflows/publish-docs.yml

  publish-binaries:
    name: Upload binaries to GitHub release
    if: ${{ github.event_name == 'release' }}
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources
        uses: actions/checkout@v6

      - name: Download binary artifacts
        uses: actions/download-artifact@v6

      - name: Publish binaries
        run: |
          find .
          gh release upload ${{ github.ref_name }} $(find . -type f '(' -name 'ph-webring-*-*.zip' -or -name 'ph-webring-*-*.tar.gz' ')' )
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-to-crates-io:
    name: Publish release to crates.io
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources
        uses: actions/checkout@v6

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Publish to crates.io
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
